@import "../../static/scss/export.module.scss";

.ticker {
  display: flex;
  overflow-x: auto;
  min-width: 370px;
  max-width: 100%;
  border-radius: $radius-radius-4;
  justify-content: center;
  align-items: center;
  padding-bottom: $gap-20;
  background-color: $color-grey-900;

  &__form {
    display: flex;
    min-width: 350px;
    padding: $gap-20;
    flex-direction: column;
  }
}

.dropdown {
  padding: $padding-8;
  margin-bottom: $gap-20;
  font-size: $font-size-24;
  border-radius: $radius-radius-4;
  border: none;
  text-align: center;
  background-color: $color-grey-500;
  color: $color-white;
}

.option {
  background-color: $color-grey-500;
}

.amount {
  padding: $padding-8;
  margin-bottom: $gap-10;
  font-size: $font-size-24;
  border-radius: $radius-radius-4;
  border: none;
  text-align: center;
  background-color: $color-grey-500;
  color: $color-white;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.prices {
  display: flex;
  justify-content: space-around;
  gap: $gap-20;

  &__current {
    font-size: $font-size-32;
    font-weight: 900;
    padding-bottom: $gap-20;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.button {
  font-size: $font-size-24;
  font-weight: 600;
  border-radius: $radius-radius-4;
  padding: 10px 30px;
  border: none;
  color: $color-white;

  &:disabled {
    opacity: 0.5;

    & button:disabled:hover {
      opacity: 0.5;
    }
  }

  &__sell {
    background-color: $color-red;

    &:hover:not(:disabled) {
      background-color: $color-red-hover;
    }
  }

  &__buy {
    background-color: $color-green;

    &:hover:not(:disabled) {
      background-color: $color-green-hover;
    }
  }
}

.errorContainer {
  height: 15px;
  margin-bottom: $padding-8;
}

.error {
  margin: 0;
  font-size: $font-size-12;
  font-weight: 700;
  color: $color-red;
}
